<% include header %>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3"><p>Dalton J. Francis</p>
            </div>
            <div class="col-md-3">
                <a href="index.html"><p>Home</p></a>
            </div>
            <div class="col-md-3">
                <a href="availability.html"><p>Availability</p></a>
            </div>
            <div class="col-md-3">
                <a href="contact.html"><p>Contact</p></a>
            </div>
        </div>
    </div>
</nav>
    

<div class="main-container">
    <div class="main wrapper clearfix">
        
        <section>
            <h1>Need to reach me?</h1>
        </section>
        <section>
                <p>Enter a day and time to find out where I'll be or how to reach me</p>
                <button onclick="App.launch()" class="btn btn-lg">Click here to check availability</button>
        </section>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>

<% include footer %>