<% include header %>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"><p>Dalton J. Francis</p>
                    </div>
                    <div class="col-md-3">
                        <a href="index.html"><p>Home</p></a>
                    </div>
                    <div class="col-md-3">
                        <a href="availability.html"><p>Availability</p></a>
                    </div>
                    <div class="col-md-3">
                        <a href="contact.html"><p>Contact</p></a>
                    </div>
                </div>
            </div>
        </nav>
            

            <section>
                <h1>Contact Me!</h1>
            </section>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>
                    <a href="https://bitbucket.org/s523395/" target="_blank">BitBucket
                    <img src="../../img/bitbucket.svg" alt="BitBucket Page" style="width:50px;height:50px;border:0;"></a>
                    </h3>
                </div>
                <div class="col-md-4">
                    <h3>
                    <a href="https://github.com/francisdalton" target="_blank">GitHub
                    <img src="../../img/25231.png" alt="GitHub Page" style="width:50px;height:50px;border:0;"></a>
                    </h3>
                </div>
                <div class="col-md-4">
                    <h3>
                    <a href="https://www.linkedin.com/in/dalton-francis-310378120/" target="_blank">LinkedIn
                    <img src="../../img/linkedin-logo.png" alt="LinkedIn Page" style="width:50px;height:50px;border:0;"></a>
                    </h3>
                </div>
            </div>
        </div>
        
        <div class="message container">
            <div class="row">
                <div class="col-md-6">
                    <p>Feel free to send me a friendly message or angry complaint</p>
                    <button onclick="App.launch()" class="btn btn-lg">Click here to send something</button>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
<% include footer %>