<% include header %>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"><p>Dalton J. Francis</p>
                    </div>
                    <div class="col-md-3">
                        <a href="index.html"><p>Home</p></a>
                    </div>
                    <div class="col-md-3">
                        <a href="availability.html"><p>Availability</p></a>
                    </div>
                    <div class="col-md-3">
                        <a href="contact.html"><p>Contact</p></a>
                    </div>
                </div>
            </div>
        </nav>
        

        <div class="main-container">
            <div class="row">
                <div class="col-md-8">
                    <section>
                        <h1>Here and Now</h1>
                        <p>I'm in the junior year of my pursuit of a Bachelor's degree in Computer Science.</p>
                    </section>
                    <section>
                        <h1>Then and There</h1>
                        <p>I went to high school in Kansas City, Kansas: Gardner Edgerton High School. The only form of higher education I've received outside of classes at NWMSU is an accelerated course over the french language. Not much outside experience with applied programming or development though.</p>
                    </section>
                    <section>
                        <h1>The Big Plan</h1>
                        <p>I came into school with the expectation of just being a programmer for most of my life, I wanted to take part in the designs of new advancements in personal everyday technologies. But as of the past year I really am not sure that I find interest in that or even much else CS related, so I'm on the hunt.</p>
                    </section>
                    <section>
                        <h1>Some Otha' Junk</h1>
                        <p><ul>
                            <li>Spend all my time hiking and building useless garbage</li>
                            <li>Never met anyone funnier than myself</li>
                            <li>Can't remember the last time I drove under the speed limit</li>
                            <li>I Throw a mean frisbee</li>
                            </ul>
                        </p>
                    </section>
                </div>
                <div class="col-md-4">
                    <aside>
                        <h2>Higher Education is Important</h2>
                        <iframe width="280" height="180" src="https://www.youtube.com/watch?v=wxQR5kokq68">
                        </iframe>
                    </aside>
                    <img src="img/dfrancprofile.jpg" class="img-circle" alt="Dalton J. Francis">
                </div>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
<% include footer %>