.container{
	font-size: 1.25em;
	color: rgb(255,255,255);
	text-align: center;
	border: 4px;
	padding-bottom: 14px;
}

h1{
	background-color: rgb(255,255,255);
	color: rgb(59,59,59);
	border-radius: 12px;
	font-size: 2em;
}

h3{
	padding-top: 20px;
	padding-bottom: 16px;
}

section{
	padding-left: 8px;
	padding-right: 8px;
}

p.main-container{
	background-color: rgb(136, 250, 136);
	color: rgb(59,59,59);
	border: 4px;
    border-color: rgb(255,255,255);
    font-size: 1em;
}
p.container {
	font-size: 1.25em;
	color: rgb(255,255,255);
    text-align: center;
}

body{
	background-color: rgb(180,255,180);
}

article{
	background-color: rgb(160,255,160);
	border-radius: 6px;
    font-size: 1.5em;
    padding-bottom: 16px;
}

aside{
	background-color: rgb(78, 82, 80);
	color: rgb(236, 236, 236);
	margin: 12px 6px 6px 12px;
	border-radius: 12px;
	font-family: "Arial Bold";
	text-align: center;
	font-size: .75em;
}

footer{
	color: rgb(0,0,0);
	text-align: center;
	padding: 4px;
}

.img-circle{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}